
.tasks_container , .add-task-container {
  background-color: rgb(248, 248, 248);
  border-radius: 8px;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 45rem 1rem 45rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.user-container {
background-color: rgb(248, 248, 248);
border-radius: 8px;
padding: 1rem;
margin: 5rem 35rem 1rem 35rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;


}

.disconnect{
  position:fixed;
  top: 0.1;
  right:35rem;
}

.tasks-counter{
  position:fixed;
  top:0.5rem;
  right: 7rem;
  width:30%;
  background-color: transparent;
}

.task {
  font-size: 16px;
  padding-bottom: 0.5rem;
}

.task-data {
  display: flex;
  align-items: center;
}

@media screen and (max-width:1500px){
  .tasks_container , .add-task-container {
  margin: 1rem 25rem 1rem 25rem;
  }

  .task {
    font-size: 14px;
  }

  .user-container {
    margin: 5rem 30rem 1rem 30rem;
  }
  
}

@media screen and (max-width:1200px){
  .tasks_container , .add-task-container {
  margin: 1rem 15rem 1rem 15rem;
  }
  .tasks-counter{
    right: 2rem;
  }
  .user-container {
    margin: 5rem 25rem 1rem 25rem;
  }
}

@media screen and (max-width:1200px){
  .user-container {
    margin: 5rem 20rem 1rem 20rem;
  }
}


@media screen and (max-width:798px){
  .tasks_container , .add-task-container  {
  margin: 1rem 5rem 1rem 5rem;
  }

  .task {
    font-size: 12px;
  }

  .tasks-counter{
    right: -4rem;
  }

  .user-container {
    margin: 5rem 10rem 1rem 10rem;
  }

}


@media screen and (max-width:480px){
  .tasks_container , .add-task-container {
  margin: 1rem 0.2rem 1rem 0.2rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem
  }

  .user-container {
    margin: 5rem 2rem 1rem 2rem;
  }

}

.checked {
  color: #999 !important;
  text-decoration: line-through;
}

