
.tasks_container , .add-task-container {
  background-color: #001F3F;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 40rem 1rem 40rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width:30%;
}

.user-container {
background-color: #001F3F;
border-radius: 8px;
padding: 1rem;
margin: 3rem 40rem 1rem 40rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;


}

.callout-warning{
  background-color: #ffffff;
  padding: 0.5rem 0.2rem 0.1rem 0.2rem;
  margin: 1rem 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
}

.tasks-counter{
  position:fixed;
  top:0.5rem;
  right: 8rem;
  width:30%;
  background-color: transparent;
}

.task {
  font-size: 16px;
  padding-bottom: 0.5rem;
  white-space:pre-wrap; 
  padding-left:0.7rem;
  
}

.task-data {
  display: flex;
  align-items: center;
}

@media screen and (max-width:1500px){
  .tasks_container , .add-task-container {
  margin: 1rem 25rem 1rem 25rem;
  width:40%;
  }

  .task  {
    font-size: 14px;
  }

  .user-container {
    margin: 5rem 30rem 1rem 30rem;
  }
  
}

@media screen and (max-width:1200px){
  .tasks_container , .add-task-container {
  margin: 1rem 15rem 1rem 15rem;
  width:50%;
  }
  
  .user-container {
    margin: 5rem 25rem 1rem 25rem;
  }

  .tasks-counter{
    right:3rem;
  }

}



@media screen and (max-width:798px){
  .tasks_container , .add-task-container  {
  margin: 1rem 5rem 1rem 5rem;
  width:80%;
  }

  .task  {
    font-size: 12px;
  }

  .user-container {
    margin: 5rem 10rem 1rem 10rem;
  }

  .tasks-counter{
    right:0rem;
  }

}


@media screen and (max-width:480px){
  .tasks_container , .add-task-container {
  margin: 1rem 0.2rem 1rem 0.2rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  width:auto;
  }

  .user-container {
    margin: 5rem 2rem 1rem 2rem;
  }

  .tasks-counter{
    right:-4rem;
  }

}



.checked {
  color: #999 !important;
  text-decoration: line-through;
}

